* {
    margin: 0;
    padding: 0;
    border: 0;
}

.clear {
    clear: both;
}

.state-field {
    margin-top: 20px;
    text-align: center;
    font: normal 24px "Segoe UI";
}

.game-field {
    width: calc(45% + 1px);
    margin: 20px auto 0;
}

.cell {
    float: left;
    border: solid 1px #343434;
}

.cell[data-state="cross"] {
    background: url("../img/cross.png") no-repeat;
    background-size: contain;
}

.cell[data-state="zero"] {
    background: url("../img/zero.png") no-repeat;
    background-size: contain;
}

.cell[data-border-right="true"] {
    border-right: solid 2px #343434;
}

.cell[data-border-left="true"] {
    border-left: solid 2px #343434;
}

.cell[data-border-top="true"] {
    border-top: solid 2px #343434;
}

.cell[data-border-bottom="true"] {
    border-bottom: solid 2px #343434;
}